#titulo1 {
    font-size: 50px;
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    background-image: url("Imagenes/img8.jpg");
    }

    h2 {
    text-align: center;
    }

body {
    background-image: url("Imagenes/img1.avif");
}

input {
background-color: white;
font-size: 15px;
box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
position: relative;
font-family: "Open Sans", sans-serif;
}

#texto1 {
width: 700px;
text-align: left;
margin-left: 290px;
margin-bottom: 60px;
}

#lista1 {
column-count: 3;
}


iframe {
    width: 350px; height: 250px;
    margin-bottom: 50px;
    margin-left: 50px;
   }



img { 
   width:250px;height:250px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 10%;
}

#videos {
margin-right: -1000px;
}

h3 { 
    background-color: black;
    font-family: "Cascadia Code","Andale Mono","Ubuntu Mono",monospace;
    color: white;
    margin-left: 43%;
    margin-right: 43%;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    border-radius: 5%;
}





